body {
    background: #eee;
}
.backimg {
    width: 100%;
    min-width: 1024px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.backimg img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.menu{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
}

.menu a {
    color: #660099;
    padding: 16px 15px;
}

.menu a.active {
    border-bottom: 3px solid orange;
}

.menu a:hover {
    text-decoration: none;
}

.main {
    width: 1024px;
    margin: 30px auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.rightBox {
    background-color: #fff;
    padding: 20px 25px;
}

.boxTitle {
    width: 230px;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    font-weight: 700;
}

.boxTitle span {
    display: inline-block;
    border-bottom: 2px solid orange;
    padding: 0 30px 3px 0;
    margin-bottom: -2px;
}

.rightBox p {
    margin: 20px 0;
}

.link_td {
    text-align: right;
    padding-top: 10px;
}

.link_td a {
    color: #107F10;
}

.form_table {
    margin-top: 10px; 
}

.form_table td:first-child{
    text-align: right;
    padding: 10px 0;
}

.form_table input {
    text-indent: 3px;
    padding: 2px 0;
    border: 1px solid #ccc;
}

.form_table button {
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
    margin-top: 10px;
    color: #fff;
    background-color: orange;
    border: 0;
    border-radius: 5px;
}

.rightBox .tip  {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: orange;
    margin-top: 10px;
}

.blank {
    width: 720px;
    background-color: #fff;
    padding: 30px 20px;
}
