    </div>
    <div class="right">
    <% if (userInfo) { %>
      <div class="rightBox" id="userInfo">
        <div class="boxTitle"><span>用户信息</span></div>
        <p>你好，<span class="username"><%= userInfo.username %></span></p>

        <% if (userInfo.isAdmin) { %>

        <p>你是管理员，前往 <a href="/dashboard">管理页面</a></p>

        <% } else { %>

        <p>欢迎来到我的博客</p>

        <% } %>
        <a href="javascript:;" id="logout">退出</a>
      </div>
    <% } else { %>
      <div class="rightBox" id="registerBox" style="display: none">
        <div class="boxTitle"><span>注册</span></div>
        <table class="form_table">
          <tbody>
            <tr>
              <td>用户名：</td>
              <td><input type="text" name="username" placeholder="请输入用户名" ></td>
            </tr>
            <tr>
              <td>密码：</td>
              <td><input type="password" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
              <td>确认：</td>
              <td><input type="password" name="repassword" placeholder="请再次输入密码"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button">注册</button></td>
            </tr>
            <tr>
              <td></td>
              <td class="link_td">已有帐号？<a href="javascript:;" id="toLogin">去登录</a></td>
            </tr>
          </tbody>
        </table>
        <span class="tip"></span>
      </div>

      <div class="rightBox" id="loginBox">
        <div class="boxTitle"><span>登录</span></div>
        <table class="form_table">
          <tbody>
            <tr>
              <td>用户名：</td>
              <td><input type="text" name="username" placeholder="请输入用户名" ></td>
            </tr>
            <tr>
              <td>密码：</td>
              <td><input type="password" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button">登录</button></td>
            </tr>
            <tr>
              <td></td>
              <td class="link_td">没有帐号？<a href="javascript:;" id="toRegister">去注册</a></td>
            </tr>
          </tbody>
        </table>
        <span class="tip"></span>
      </div>
    <% } %>
    </div>
  </div>

  <script src="/public/js/index.js"></script>
</body>
</html>
