<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/index.css" >
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>博客</title>
</head>
<body>
  <header>
    <div class="backimg"><img src="/public/img/backimg.jpg" alt="backimg"></div>
  </header>
  <nav>
    <div class="menu">
      <a {% if category == '' %}class="active"{% endif %} href="/">首页</a>
      {% for cate in categories %}
      <a href="/?category={{cate.id}}" {% if category == cate.id %}class="active"{% endif %}>{{ cate.name }}</a>
      {% endfor %}
    </div>
  </nav>

  <div class="main">
    <div class="left">
        {% block content %}{% endblock %}
    </div>
    <div class="right">
      {% if userInfo._id %}
      <div class="rightBox" id="userInfo">
        <div class="boxTitle"><span>用户信息</span></div>
        <p>你好，<span class="username">{{ userInfo.username }}</span></p>

        {% if userInfo.isAdmin %}

        <p>你是管理员，前往 <a href="/dashboard">管理页面</a></p>

        {% else %}

        <p>欢迎来到我的博客</p>

        {% endif %}
        <a href="javascript:;" id="logout">退出</a>
      </div>

      {% else %}

      <div class="rightBox" id="registerBox" style="display: none">
        <div class="boxTitle"><span>注册</span></div>
        <table class="form_table">
          <tbody>
            <tr>
              <td>用户名：</td>
              <td><input type="text" name="username" placeholder="请输入用户名" ></td>
            </tr>
            <tr>
              <td>密码：</td>
              <td><input type="password" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
              <td>确认：</td>
              <td><input type="password" name="repassword" placeholder="请再次输入密码"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button">注册</button></td>
            </tr>
            <tr>
              <td></td>
              <td class="link_td">已有帐号？<a href="javascript:;" id="toLogin">去登录</a></td>
            </tr>
          </tbody>
        </table>
        <span class="tip"></span>
      </div>

      <div class="rightBox" id="loginBox">
        <div class="boxTitle"><span>登录</span></div>
        <table class="form_table">
          <tbody>
            <tr>
              <td>用户名：</td>
              <td><input type="text" name="username" placeholder="请输入用户名" ></td>
            </tr>
            <tr>
              <td>密码：</td>
              <td><input type="password" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
              <td></td>
              <td><button type="button">登录</button></td>
            </tr>
            <tr>
              <td></td>
              <td class="link_td">没有帐号？<a href="javascript:;" id="toRegister">去注册</a></td>
            </tr>
          </tbody>
        </table>
        <span class="tip"></span>
      </div>

      {% endif %}
    </div>
  </div>

  <script src="/public/js/index.js"></script>
</body>
</html>
