{% extends 'layout.html' %}

{% block content%}

<div class="list_box">
  <h1>{{content.title}}</h1>
  <p class="col_default">
    作者：<span>{{ userInfo.username }}</span> -
    时间：<span>{{ content.addTime | date('Y年m月d日 H:i:s', -8*60) }}</span> -
    阅读：<span>{{ content.views }}</span> -
    评论：<span class="message_count">{{ content.comments.length }}</span>
  </p>
  <p>{% autoescape false %} {{textHtmlStr}} {% endautoescape %}</p>
</div>

<div class="list_box message">
    <h3>
        <strong>评论</strong>
        <span class="em">一共有 <em class="message_count">{{ content.comments.length }}</em> 条评论</span>
        <input type="hidden" id="content_id" value="{{content.id}}">
    </h3>

    {% if userInfo._id %}
    <p class="text_input clearfix">
        <textarea name="" id="message_content" cols="30" rows="10"></textarea>
        <button id="message_btn" class="submit">提交</button>
    </p>
    {% else %}
    <div class="alert alert-danger" role="alert">你还没有登录，<strong>请先登录！</strong></div>
    {% endif %}

    <div id="message_list"></div>

    <ul class="pager">
      <li class="previous">
        {% if page <= 1 %}
        <span>没有上一页了</span>
        {% else %}
        <a href="/?category={{category}}&page={{ page - 1 }}">上一页</a>
        {% endif%}
      </li>

      <li class="num">
        {% if pages > 0 %}
          {{ page }} / {{ pages }}
        {% endif %}
      </li>
      <li class="next">
        {% if page >= pages %}
        <span>没有下一页了</span>
        {% else %}
        <a href="/?category={{category}}&page={{ page + 1 }}">下一页</a>
        {% endif%}
      </li>
    </ul>

</div>

<script src="/public/js/comment.js"></script>

{% endblock %}
